<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="it.anseltechnology.plugins.rfidsdkmaster" 
        version="1.0.0">
    <name>RfidSdkMasterPlugin</name>
    <description>Plugin Cordova per includere la libreria RFID.</description>
    <license>MIT</license>
    <keywords>cordova, rfid, plugin</keywords>

    <!-- Dichiarazione della classe Java -->
    <js-module src="www/RfidSdkMasterPlugin.js" name="RfidSdkMasterPlugin">
        <clobbers target="cordova.plugins.RfidSdkMasterPlugin"/>
    </js-module>

    <!-- Definizione della piattaforma Android -->
    <platform name="android">
        <source-file src="src/android/RfidSdkMasterPlugin.java" target-dir="src/it/anseltechnology/plugins/rfidsdkmaster"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RfidSdkMasterPlugin">
                <param name="android-package" value="it.anseltechnology.plugins.rfidsdkmaster.RfidSdkMasterPlugin"/>
            </feature>
        </config-file>

        <lib-file src="src/android/libs/rfidsdkmanager-debug.aar"/>

        <config-file target="app/build.gradle" parent="/project">
            <block>
                repositories {
                    flatDir {
                        dirs 'libs'
                    }
                }
            </block>
        </config-file>

        <config-file target="app/build.gradle" parent="/project/dependencies">
            <block>
                implementation(name: "rfidsdkmanager-debug", ext: "aar")
            </block>
        </config-file>

        
    </platform>
</plugin>