<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="it.anseltechnology.plugins.rfidsdkmaster" 
        version="1.0.0">
    <name>RfidSdkMasterPlugin</name>
    <description>Plugin Cordova per includere la libreria RFID.</description>
    <license>MIT</license>
    <keywords>cordova, rfid, plugin</keywords>

    <!-- Dichiarazione della classe Java -->
    <js-module src="www/RfidSdkMasterPlugin.js" name="RfidSdkMasterPlugin">
        <clobbers target="cordova.plugins.RfidSdkMasterPlugin"/>
    </js-module>

    <!-- Definizione della piattaforma Android -->
    <platform name="android">
        <source-file src="src/android/RfidSdkMasterPlugin.java" target-dir="src/it/anseltechnology/plugins/rfidsdkmaster"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RfidSdkMasterPlugin">
                <param name="android-package" value="it.anseltechnology.plugins.rfidsdkmaster.RfidSdkMasterPlugin"/>
            </feature>
        </config-file>
        
        <framework src="src/android/RfidSdkMasterPlugin.gradle" custom="true" type="gradleReference"/>

        <framework src="src/android/libs/device-sdk-rfid.aar" target-dir="/libs/device-sdk-rfid.aar" custom="true"/>
        <lib-file src="src/android/libs/device-sdk.jar" custom="true"/>

        <config-file target="gradle/wrapper/gradle-wrapper.properties" parent="/*">
            <preference name="distributionUrl" value="https\://services.gradle.org/distributions/gradle-7.5-all.zip" />
        </config-file>

        <!-- Force Gradle to use version 7.5 or later -->
        <preference name="GradleVersion" default="7.5.1" />
    
        <!-- Force Android Gradle Plugin Version -->
        <preference name="GradlePluginVersion" default="7.2.2" />
        
    </platform>
</plugin>
